<section class="home d-flex align-items-center">
  <div class="container">
    <div class="text-center text-white w-75 mx-auto">
      <img class="home-image" src="/images/avataaars.svg" alt="home image" />
      <h1 class="text-uppercase fw-bold py-3">start Framework</h1>

      <div class="text-center">
        <div class="line-star"></div>
        <i class="fas fa-star text-white px-3"></i>
        <div class="line-star"></div>
      </div>
      <p class="small pt-3">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>
